@page "/"
@* Para hacer comentarios en el código se utiliza: Shift + Alt + A *@
@* Titulos que varian en el tamaño de la fuente entre mayor sea el valor de la h*@
<h1>Hello, world!</h1>
<h2>Hello, world!</h2>
<h3>Hello, world!</h3>
<h4>Hello, world!</h4>
<h5>Hello, world!</h5>
<h6>Hello, world!</h6>

@* Código HTML se debe de trabajar por bloques o divisiones *@

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Película" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Género" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="Puntuación usuario" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-text">Sinopsis</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
