@page "/"
@* Para hacer comentarios en el código se utiliza: Shift + Alt + A *@
@* Titulos que varian en el tamaño de la fuente entre mayor sea el valor de la h*@
<h1>Formulario Pelicula</h1>

@* Código HTML se debe de trabajar por bloques o divisiones *@

<div class="card mb-3" style="width: 18rem;">
  <img src="/Images/spyderman.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Spyderman</h5>
    <p class="card-text">Descripción.</p>
    <a href="#" class="btn btn-primary">Trailer</a>
  </div>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Película" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Género" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="Puntuación usuario" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <textarea class="form-control" aria-label="With textarea" placeholder="Sinopsis"></textarea>
</div>


